* {
    box-sizing: border-box;
    outline: none;
    appearance: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

::selection { background: $green; color:#1b1b1b }

* {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 0;
        border-radius: 3px;
        opacity: 1;

        @include mobile {
            width: 3px;
        }
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background-color: #ffffff;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fffff0;
        border-radius: 6px;

        @include mobile {
            border-radius: 3px;
        }

        &:hover {
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
        }
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }

    &::-webkit-resizer {
        display: none;
    }
}

a {
    text-decoration: none;
    font-family: $font;
    font-weight: bold;
    color: #fffff1;
    transition: $trs;

    &:hover, &:active, &:visited {
        text-decoration: none;
    }

    &:hover {
        color: #000000;
        transition: $trs;
    }
}

body {
    font-family: $font;
    font-weight: 500;
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: 1;
    overflow-x: hidden;
}

.main {
    flex: 1;
}

.ruble {
    font-family: $font, "Helvetica", "Arial", sans-serif;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.bottom {
  margin-top: auto;
}
