input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input, textarea {
    &::placeholder {
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        transition: $trs;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    &:blur {
        &::placeholder {
            opacity: 1;
        }
    }
}
