/// including mixins ///

@mixin cl() {
    &:before, &:after {
        content: '';
        display: table;
        clear: both;
    }
}

// usage: +cl

@mixin moz_scrl() {
    scrollbar-color: $red $gray;
    scrollbar-width: thin;
}

@mixin accent-btn() {
    padding-left: 32px;
    padding-right: 32px;
    text-transform: uppercase;
    font-family: $font;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: $white;
    border-radius: 6px;
    background-color: $colorAccent;
    transition-property: background-color, box-shadow;
    transition: ease-in-out 0.3s;
    border: none;

    &.gray {
        color: #ffffff;
        background-color: $cTextDefault;

        &:hover {
            color: #ffffff;
            background-color: $darkGray;
        }
    }

    &:hover {
        background-color: $colorAccentHover;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $darkGray;

        &:hover {
            background-color: $darkGray;
        }
    }
}

@mixin mobile() {
    @media (max-width: 900px) {
        @content
    }
}

@mixin mobile-t() {
    @media (max-width: 1024px) {
        @content
    }
}

@mixin mobile-l() {
    @media (max-width: 359px) {
        @content
    }
}

@mixin html-description() {
    color: $cTextDefault;
    line-height: 143%;
    transition: $trs;
    @include mobile {
        font-size: 12px;
    }

    ul > li {

        &:before {
            color: $colorAccent;
            content: "â—";
            font-size: 14px;
            padding-right: 10px;
        }

    }

    ol > li {
        &::marker{
            font-size: 14px;
            color: $colorAccent;
        }
        list-style: decimal;
        margin-left: 25px;
        padding-left: 5px;
    }
    strong {
        color: $colorPrimary;
    }
    h3 {
        padding-top: 10px;
        line-height: 24px;
    }
    p {
        margin: 0;
    }
}
