/// including mixins ///

@mixin cl() {
    &:before, &:after {
        content: '';
        display: table;
        clear: both;
    }
}

// usage: +cl

@mixin moz_scrl() {
    scrollbar-color: red gray;
    scrollbar-width: thin;
}

@mixin mobile() {
    @media (max-width: 900px) {
        @content
    }
}

@mixin mobile-t() {
    @media (max-width: 1024px) {
        @content
    }
}

@mixin mobile-l() {
    @media (max-width: 359px) {
        @content
    }
}

@mixin html-description() {
    color: #0d71bb;
    line-height: 143%;
    transition: $trs;
    @include mobile {
        font-size: 12px;
    }

    ul > li {

        &:before {
            color: red;
            content: "â—";
            font-size: 14px;
            padding-right: 10px;
        }

    }

    ol > li {
        &::marker{
            font-size: 14px;
            color: red;
        }
        list-style: decimal;
        margin-left: 25px;
        padding-left: 5px;
    }
    strong {
        color: gray;
    }
    h3 {
        padding-top: 10px;
        line-height: 24px;
    }
    p {
        margin: 0;
    }
}
