.modal-bg-enter-active {
  animation-name: modal-bg-in, modal-bg-out;
  animation-timing-function: ease, linear;
  animation-direction: normal, reverse;
  animation-duration: 1000s, 1s;
  animation-iteration-count: 1, 1;

  &:before {
    content: '';
    position: absolute;
    animation-name: modal-bg-in;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    bottom: -600px;
    right: -300px;
    width: 600px;
    height: 600px;
    z-index: -1;
    background: radial-gradient(100% 100% at 50% 50%, rgba($green, 0.1) 0, transparent 50%);
    transition: $trs;
  }
}

.modal-bg-leave-active {
  animation-name: bounce-fast-out, modal-bg-out;
  animation-timing-function: ease;
  animation-duration: $trs, 1s;
  transition: $trs;
}

@keyframes modal-bg-in {
  0% {
    bottom: calc(15vh - 300px);
    right: calc(15vh - 300px);
  }
  12.5% {
    bottom: calc(50vh - 300px);
    right: -300px;
  }
  25% {
    bottom: calc(85vh - 300px);
    right: calc(15vw - 300px)
  }
  37.5% {
    bottom: calc(100vh - 300px);
    right: calc(50vw - 300px)
  }
  50% {
    bottom: calc(85vh - 300px);
    right: calc(85vw - 300px);
  }
  65.5% {
    bottom: calc(50vh - 300px);
    right: calc(100vw - 300px);
  }
  75% {
    bottom: calc(15vw - 300px);
    right: calc(85vw - 300px);
  }
  87.5% {
    bottom: -300px;
    right: calc(50vw - 300px);
  }
  100% {
    bottom: calc(15vh - 300px);
    right: calc(15vh - 300px);
  }
}

@keyframes modal-bg-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-enter-active {
  animation-name: modal-in;
  animation-duration: .3s;
  transition: $trs;
}

.modal-leave-active {
  animation: modal-out .3s;
  transition: $trs;
}

@keyframes modal-in {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1);
  }
}

@keyframes modal-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.bounce-enter-active {
  animation: bounce-in .6s;
}

.bounce-leave-active {
  animation: bounce-out .6s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

.bounce-fast-enter-active {
  animation-duration: .3s;
  animation-name: bounce-fast-in;
}

.bounce-fast-leave-active {
  animation-duration: .3s;
  animation-name: bounce-fast-out;
}

@keyframes bounce-fast-in {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce-fast-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.slide-top-enter-active {
  animation: slide .6s;
}

.slide-top-leave-active {
  animation: slide .3s reverse;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
