.header-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
  border-bottom: 3px solid $green;
  transition: $trs;
  color: $default;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-family: $font;
  background-color: $white;
  z-index: 9002;
  overflow: visible;
}

.calc-price {
  width: 300px;
  position: relative;
  animation: on-load .5s ease-in-out;

  @media (max-width: 800px) {
    width: auto;
    min-width: 40px;
  }


  .title {
    padding: 16px 0;
  }

  &:hover, &.active {
    color: $green;
    text-shadow: 1px 1px 5px rgba($default, .1);

    .arrow-button {
      .icon, .icon-close {
        path {
          fill: $green;
        }
      }
    }
  }
}
