.desktop {
  text-align: center;
  transition: $trs;
  user-select: none;
  padding-left: 8px;

  @media (max-width: 800px) {
    display: none;
  }
}

.mobile {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  user-select: none;

  .item-icon {
    path {
      transition: $trs;

      &:nth-child(2) {
        fill: $green;
      }
    }
  }

  @media (min-width: 641px) {
    width: 24px;
    height: 24px;
  }
}

.icon-close {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 2;
  top: calc(50% - 9px);
  left: calc(50% - 9px);

  path {
    transition: $trs;
  }

  &:hover {
    path {
      fill: $green;
    }
  }
}

.arrow-button {
  position: absolute;
  text-align: center;
  width: 90px;
  z-index: 1;
  height: 16px;
  bottom: 0;
  left: calc(50% - 45px);

  @media (min-width: 800px) {
    left: calc(50% - 40px);
  }

  .icon {
    width: 30px;
    height: 10px;
    position: absolute;
    z-index: 2;
    bottom: -3px;
    left: calc(50% - 15px);

    path {
      transition: $trs;
    }
  }

  .icon-bottom {
    position: absolute;
    left: calc(50% - 45px);
    bottom: -20px;
    z-index: 1;

    path {
      fill: $green;

      &:last-child {
        fill: $white;
      }
    }
  }
}

.header-item {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  cursor: pointer;
  color: $default;

  @media (max-width: 800px) {

  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    font-size: calc(#{$p} - 6px);

  }

  &:hover {
    .icon, .icon-close {
      path {
        fill: $green;
      }
    }

    .desktop {
      color: $green;
      text-shadow: 1px 1px 5px rgba($default, .1);
    }

    .mobile {
      .item-icon {
        path {
          fill: $green;
        }
      }
    }
  }
}
