// ----- AWESOME VARIABLES -----
$rate: 8px;
$max: 100vmax;
$min: 100vmin;

$verticalText: 100vh / 56;
$largePadding: $min / 16;
$mediumPadding: $min / 24;
$smallPadding: $min / 32;

$h1: $min / 16;
$h2: $min / 24;
$h3: $min / 32;

$p: $min / 48;

$font: 'TTNorms';

$default: #1b1b1b;
$green: #4dce00;
$white: #ffffff;
$gray: #7f7f7f;

// transitions
$trs: ease-in-out 0.3s;
